import /init.target.rc
import /init.trace.rc
import /init.power.rc

on init
    # HTC SSD Peripheral UI - BEGIN
    # LSM330 Gyro
    chown system system /sys/devices/virtual/ST_gyr/gyr/enable_device
    chown system system /sys/devices/virtual/ST_gyr/gyr/pollrate_ms
    chown system system /sys/devices/virtual/ST_gyr/gyr/fifo_mode
    chown system system /sys/devices/virtual/ST_gyr/gyr/range
    chown system system /sys/devices/virtual/ST_gyr/gyr/fifo_samples
    chown system system /sys/devices/virtual/ST_gyr/gyr/enable_polling
    chown system system /sys/devices/virtual/ST_gyr/gyr/cali_data
    chown system system /sys/devices/virtual/ST_gyr/gyr/debug_event_report

    chmod 0660 /sys/devices/virtual/ST_gyr/gyr/enable_device
    chmod 0660 /sys/devices/virtual/ST_gyr/gyr/pollrate_ms
    chmod 0660 /sys/devices/virtual/ST_gyr/gyr/fifo_mode
    chmod 0660 /sys/devices/virtual/ST_gyr/gyr/range
    chmod 0660 /sys/devices/virtual/ST_gyr/gyr/fifo_samples
    chmod 0660 /sys/devices/virtual/ST_gyr/gyr/enable_polling
    chmod 0660 /sys/devices/virtual/ST_gyr/gyr/cali_data
    chmod 0660 /sys/devices/virtual/ST_gyr/gyr/debug_event_report

    # LSM330 Accelerometer
    chown system system /sys/devices/virtual/ST_acc/acc/get_raw_data
    chown system system /sys/devices/virtual/ST_acc/acc/enable_state_prog
    chown system system /sys/devices/virtual/ST_acc/acc/pollrate_ms
    chown system system /sys/devices/virtual/ST_acc/acc/enable_polling
    chown system system /sys/devices/virtual/ST_acc/acc/enable_device
    chown system system /sys/devices/virtual/ST_acc/acc/double_tap
    chown system system /sys/devices/virtual/ST_acc/acc/chip_layout
    chown system system /sys/devices/virtual/ST_acc/acc/range
    chown system system /sys/devices/virtual/ST_acc/acc/set_k_value
    chown system system /sys/devices/virtual/ST_acc/acc/calibration_version

    chmod 0660 /sys/devices/virtual/ST_acc/acc/get_raw_data
    chmod 0660 /sys/devices/virtual/ST_acc/acc/enable_state_prog
    chmod 0660 /sys/devices/virtual/ST_acc/acc/pollrate_ms
    chmod 0660 /sys/devices/virtual/ST_acc/acc/enable_polling
    chmod 0660 /sys/devices/virtual/ST_acc/acc/enable_device
    chmod 0660 /sys/devices/virtual/ST_acc/acc/double_tap
    chmod 0660 /sys/devices/virtual/ST_acc/acc/chip_layout
    chmod 0660 /sys/devices/virtual/ST_acc/acc/range
    chmod 0660 /sys/devices/virtual/ST_acc/acc/set_k_value
    chmod 0660 /sys/devices/virtual/ST_acc/acc/calibration_version

    # BMA250 BOSCH
    chown system system /sys/class/htc_g_sensor/g_sensor/enable_cir_interrupt
    chmod 0660 /sys/class/htc_g_sensor/g_sensor/enable_cir_interrupt
    chown system system /sys/class/htc_g_sensor/g_sensor/en_sig_motion
    chmod 0660 /sys/class/htc_g_sensor/g_sensor/en_sig_motion
    chown system system /sys/class/htc_g_sensor/g_sensor/flush
    chmod 0660 /sys/class/htc_g_sensor/g_sensor/flush

    # YAS533 + KXTJ2
    chown system system /sys/class/htc_g_sensor/kxtj2/iio/buffer/length
    chown system system /sys/class/htc_g_sensor/kxtj2/iio/buffer/enable
    chown system system /sys/class/htc_g_sensor/kxtj2/iio/trigger/current_trigger
    chown system system /sys/class/htc_g_sensor/kxtj2/iio/sampling_frequency
    chown root   system /sys/class/htc_g_sensor/kxtj2/iio/in_accel_x_calibbias
    chown root   system /sys/class/htc_g_sensor/kxtj2/iio/in_accel_y_calibbias
    chown root   system /sys/class/htc_g_sensor/kxtj2/iio/in_accel_z_calibbias
    chown root   system /sys/class/htc_g_sensor/kxtj2/iio/in_accel_x_raw
    chown root   system /sys/class/htc_g_sensor/kxtj2/iio/in_accel_y_raw
    chown root   system /sys/class/htc_g_sensor/kxtj2/iio/in_accel_z_raw
    chown system system /sys/class/htc_compass/yas53x/iio/buffer/length
    chown system system /sys/class/htc_compass/yas53x/iio/buffer/enable
    chown system system /sys/class/htc_compass/yas53x/iio/trigger/current_trigger
    chown system system /sys/class/htc_compass/yas53x/iio/sampling_frequency
    chown system system /sys/class/htc_compass/yas53x/iio/hard_offset
    chown root   system /sys/class/htc_compass/yas53x/iio/in_magn_x_raw
    chown root   system /sys/class/htc_compass/yas53x/iio/in_magn_y_raw
    chown root   system /sys/class/htc_compass/yas53x/iio/in_magn_z_raw

    chmod 0660 /sys/class/htc_g_sensor/kxtj2/iio/buffer/length
    chmod 0660 /sys/class/htc_g_sensor/kxtj2/iio/buffer/enable
    chmod 0660 /sys/class/htc_g_sensor/kxtj2/iio/trigger/current_trigger
    chmod 0660 /sys/class/htc_g_sensor/kxtj2/iio/sampling_frequency
    chmod 0660 /sys/class/htc_g_sensor/kxtj2/iio/in_accel_x_calibbias
    chmod 0660 /sys/class/htc_g_sensor/kxtj2/iio/in_accel_y_calibbias
    chmod 0660 /sys/class/htc_g_sensor/kxtj2/iio/in_accel_z_calibbias
    chmod 0660 /sys/class/htc_g_sensor/kxtj2/iio/in_accel_x_raw
    chmod 0660 /sys/class/htc_g_sensor/kxtj2/iio/in_accel_y_raw
    chmod 0660 /sys/class/htc_g_sensor/kxtj2/iio/in_accel_z_raw
    chmod 0660 /sys/class/htc_compass/yas53x/iio/buffer/length
    chmod 0660 /sys/class/htc_compass/yas53x/iio/buffer/enable
    chmod 0660 /sys/class/htc_compass/yas53x/iio/trigger/current_trigger
    chmod 0660 /sys/class/htc_compass/yas53x/iio/sampling_frequency
    chmod 0660 /sys/class/htc_compass/yas53x/iio/hard_offset
    chmod 0660 /sys/class/htc_compass/yas53x/iio/in_magn_x_raw
    chmod 0660 /sys/class/htc_compass/yas53x/iio/in_magn_y_raw
    chmod 0660 /sys/class/htc_compass/yas53x/iio/in_magn_z_raw

    chown system system /dev/iio:device0
    chown system system /dev/iio:device1

    # set G-Sensor and Compass permissions
    chown compass system /dev/akm8975_aot
    chown compass system /dev/akm8975_daemon
    chown compass system /dev/bma150
    chown system system /sys/class/htc_accelerometer/accelerometer/enable_cir_interrupt
    chown system system /sys/class/htc_accelerometer/accelerometer/flush
    chmod 0640 /dev/akm8975_aot
    chmod 0640 /dev/akm8975_daemon
    chmod 0640 /dev/bma150
    chmod 0660 /sys/class/htc_accelerometer/accelerometer/enable_cir_interrupt
    chmod 0660 /sys/class/htc_accelerometer/accelerometer/flush

    # HTC SSD Peripheral UI - END

on post-fs-data
    # HTC AUD - effect_endpoint_update file for inform upper layer effect endpoint chaning
    copy /dev/null /data/effect_endpoint_update
    chown system audio /data/effect_endpoint_update
    chmod 0664 /data/effect_endpoint_update

on boot
# HTC SSD USB
    chown system radio /sys/class/android_usb/f_modem/on
    chown root usb /sys/class/android_usb/f_acm/baud_rate
    chown system system /sys/class/android_usb/f_diag/on
    chown system system /sys/class/android_usb/f_rmnet/on
    chown system system /sys/devices/platform/android_usb/usb_disable
    chown system radio /sys/devices/platform/android_usb/usb_modem_enable

# HTC Camera
# For Flashlight Restriction
    chown system system /sys/camera_led_status/led_hotspot_status

# HTC SSD Peripheral UI - BEGIN

    # for AKM8963 DOE Plus
    chown system system /dev/akm8963_dev
    chown system system /sys/class/compass/akm8963/enable_acc
    chown system system /sys/class/compass/akm8963/enable_mag
    chown system system /sys/class/compass/akm8963/enable_ori
    chown system system /sys/class/compass/akm8963/enable_fusion
    chown system system /sys/class/compass/akm8963/delay_acc
    chown system system /sys/class/compass/akm8963/delay_mag
    chown system system /sys/class/compass/akm8963/delay_ori
    chown system system /sys/class/compass/akm8963/delay_fusion
    chown system system /sys/class/compass/akm8963/accel
    chmod 0660 /dev/akm8963_dev
    chmod 0660 /sys/class/compass/akm8963/enable_acc
    chmod 0660 /sys/class/compass/akm8963/enable_mag
    chmod 0660 /sys/class/compass/akm8963/enable_ori
    chmod 0660 /sys/class/compass/akm8963/enable_fusion
    chmod 0660 /sys/class/compass/akm8963/delay_acc
    chmod 0660 /sys/class/compass/akm8963/delay_mag
    chmod 0660 /sys/class/compass/akm8963/delay_ori
    chmod 0660 /sys/class/compass/akm8963/delay_fusion
    chmod 0660 /sys/class/compass/akm8963/accel

    # P-sensor
    chown radio system /sys/class/optical_sensors/proximity/PhoneApp_status
    chown system system /sys/class/optical_sensors/proximity/ps_info
    chown system system /sys/class/optical_sensors/proximity/flush
    chown system system /sys/class/optical_sensors/lightsensor/ls_flush
    chmod 0660 /sys/class/optical_sensors/proximity/PhoneApp_status
    chmod 0660 /sys/class/optical_sensors/proximity/flush
    chmod 0660 /sys/class/optical_sensors/lightsensor/ls_flush

    # LED
    chown system system /sys/class/leds/green/brightness
    chown system system /sys/class/leds/green/blink
    chown system system /sys/class/leds/green/off_timer
    chown system system /sys/class/leds/amber/brightness
    chown system system /sys/class/leds/amber/blink
    chown system system /sys/class/leds/amber/off_timer
    chown system system /sys/class/leds/indicator/ModeRGB
    chown system system /sys/class/leds/indicator/off_timer

    # Flashlight
    chown system system /sys/class/leds/flashlight/brightness
    chown vte    vte    /dev/vte_flt
    chmod 0660 /dev/vte_flt

    # CIR
    chown system system /sys/class/htc_cir/cir/reset_cir
    chmod 0660 /sys/class/htc_cir/cir/reset_cir
    chown system system /sys/class/htc_cir/cir/enable_cir
    chmod 0660 /sys/class/htc_cir/cir/enable_cir
    chown system system /sys/class/htc_cir/cir/enable_learn
    chmod 0660 /sys/class/htc_cir/cir/enable_learn

    # Barometer
    chown root system /system/bin/htcbarocal_csd
    chmod 0750 /system/bin/htcbarocal_csd

    # MotionSensor
    chown compass system /dev/akm8975_aot
    chmod 0640 /dev/akm8975_aot
    chown compass system /dev/bma150
    chmod 0640 /dev/bma150
# HTC SSD Peripheral UI - END

# HTC SSD Peripheral TOUCH - BEGIN

    #set touch permissions
    chown system system /sys/android_touch/glove_setting

    #volume key wake up attribute file permission
    chown media media /sys/keyboard/vol_wakeup

# HTC SSD Peripheral TOUCH - END

# HTC set radio_feedback permissions
    chown radio radio /dev/radio_feedback
    chmod 0660 /dev/radio_feedback
    # Define TCP buffer sizes for various networks
    #   ReadMin, ReadInitial, ReadMax, WriteMin, WriteInitial, WriteMax,
    setprop net.tcp.buffersize.default  4096,87380,110208,4096,16384,110208
    setprop net.tcp.buffersize.wifi     524288,1048576,2097152,262144,524288,1048576
    setprop net.tcp.buffersize.ethernet 524288,1048576,3145728,524288,1048576,2097152
    setprop net.tcp.buffersize.lte      524288,1048576,2097152,262144,524288,1048576
    setprop net.tcp.buffersize.umts     58254,349525,1048576,58254,349525,1048576
    setprop net.tcp.buffersize.hspa     40778,244668,734003,16777,100663,301990
    setprop net.tcp.buffersize.hsupa    40778,244668,734003,16777,100663,301990
    setprop net.tcp.buffersize.hsdpa    61167,367002,1101005,8738,52429,262114
    setprop net.tcp.buffersize.hspap    122334,734003,2202010,32040,192239,576717
    setprop net.tcp.buffersize.edge     4093,26280,70800,4096,16384,70800
    setprop net.tcp.buffersize.gprs     4092,8760,48000,4096,8760,48000
    setprop net.tcp.buffersize.evdo     4094,87380,262144,4096,16384,262144

    # Define default initial receive window size in segments.
    setprop net.tcp.default_init_rwnd 60
